<template name="Header">
<div class = "header page">
  <div class="ui top fixed borderless inverted menu" style="filter:alpha(opacity=75); opacity:0.75;">
    <div class="ui container">
      <a class="item" href="{{pathFor 'Item_Feed_Page'}}"><h1>ChaseHawaii</h1></a>

      <a class="{{ isActiveRoute 'Item_Feed_Page'}} item" href="{{ pathFor 'Item_Feed_Page' }}">Adventure Feed </a>
      <a class="{{ isActiveRoute 'Create_Item_Page'}} item" href="{{ pathFor 'Create_Item_Page' }}">Create Adventure</a>

    </div>
    <div class = "float right item"><a href="{{pathFor 'Profile_Page' username = profpath}}">
      {{#if profile.image}}
        <a href="{{pathFor 'Profile_Page' username = profpath}}"><img src="{{image}}"></a>
      {{else}}
        <a href="{{pathFor 'Profile_Page' username = profpath}}"><img class ="ui mini image" src="http://clipground.com/images/palm-plant-clipart-4.jpg"></a>
      {{/if}}</a> </div>
    <div class="float right item">{{> Cas_Login }}</div>
  </div>
</div>
</template>
