<template name="Beach_Cards">
  <div class="card beach-card">
    <div class="ui medium image">
      <img src={{ beach.picture }}>
    </div>
    <div class="content">
      <div class="extra content">
        <span class="left floated">
      <a class="{{ isActiveRoute 'Beach_Page/:_id'}} item" href=" /beach/{{beach._id}}">
       <h3> {{ beach.title }} </h3>
      </a>
        </span>
        <div class="beach-likes">
          <div data-id="{{ beach._id }}">
        <span class="right floated">
        <i class="like icon" data-id="{{ beach._id }}"></i>
        {{ beach.likes }} Likes
      </span>
          </div>
        </div>
      </div>
      <div class="meta">
        <a>{{ beach.category }}</a>
      </div>
      <div class="description">
        {{ beach.about }}
      </div>
      <div style="font-size: x-small" class="date">
        {{ displayDate date=beach.createdAt }}
      </div>
    </div>
    <div class="extra content">
          <span class="left floated">
            {{#each tag in beach.tags }}
            <a class="ui mini tag label">{{tag}}</a>
            {{/each}}
      </span>
    </div>
    {{#if isNotActivePath regex='item-feed'}}
    <div class="beach-bucket-remove">
      <div class="ui blue bottom attached button" data-id="{{ beach._id }}">
        <i class="minus icon"></i>
        Remove from Bucket list
      </div>
    </div>
    {{/if}}
    {{#if isActivePath regex='item-feed'}}
    <div class="beach-bucket">
      <div class="ui blue bottom attached button" data-id="{{ beach._id }}">
        {{#if inBucketList item=beach._id}}
        <i class="white star icon"></i>
        In your bucket list!
        {{else}}
        <i class="add icon"></i>
        Add to Bucket List
        {{/if}}
      </div>
    </div>
    {{/if}}
  </div>
</template>

<template name="Hike_Cards">
  <div class="card hike-card">
    <div class="image">
      <img src={{ hike.picture }}>
    </div>
    <div class="content">
      <div class="extra content">
        <span class="left floated">
      <a class="{{ isActiveRoute 'Hike_Page/:_id'}} item" href=" /hike/{{hike._id}}">
       <h3> {{ hike.title }} </h3>
      </a>
        </span>
        <div class="hike-likes">
          <div data-id="{{ hike._id }}">
        <span class="right floated">
        <i class="like icon" data-id="{{ hike._id }}"></i>
        {{ hike.likes }} Likes
      </span>
          </div>
        </div>
      </div>
      <div class="meta">
        <a>{{ hike.category }}</a>
      </div>
      <div class="description">
        {{ hike.about }}
      </div>
      <div style="font-size: x-small" class="date">
        {{ displayDate date=beach.createdAt }}
      </div>
    </div>
    <div class="extra content">
          <span class="left floated">
            {{#each tag in hike.tags }}
            <a class="ui mini tag label">{{tag}}</a>
            {{/each}}
      </span>
    </div>
    <div class="{{isActiveRoute regex='/^profile/'}}">
      {{#if isNotActivePath regex='item-feed'}}
      <div class="hike-bucket-remove">
        <div class="ui blue bottom attached button" data-id="{{ hike._id }}">
          <i class="minus icon"></i>
          Remove from Bucket list
        </div>
      </div>
      {{/if}}
      {{#if isActivePath regex='item-feed'}}
      <div class="hike-bucket">
        <div class="ui violet bottom attached button" data-id="{{ hike._id }}">
          {{#if inBucketList item=hike._id}}
          <i class="white star icon"></i>
          In your bucket list!
          {{else}}
          <i class="add icon"></i>
          Add to Bucket List
          {{/if}}
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</template>

<template name="Restaurant_Cards">
  <div class="card restaurant-card">
    <div class="image">
      <img src={{ restaurant.picture }}>
    </div>
    <div class="content">
      <div class="extra content">
        <span class="left floated">
      <a class="{{ isActiveRoute 'Restaurant_Page/:_id'}} item" href=" /restaurant/{{restaurant._id}}">
       <h3> {{ restaurant.title }} </h3>
      </a>
        </span>
        <div class="restaurant-likes">
          <div data-id="{{ restaurant._id }}">
        <span class="right floated">
        <i class="like icon" data-id="{{ restaurant._id }}"></i>
        {{ restaurant.likes }} Likes
      </span>
          </div>
        </div>
      </div>
      <div class="meta">
        <a>{{ restaurant.category }}</a>
      </div>
      <div class="description">
        {{ restaurant.about }}
      </div>
      <div style="font-size: x-small" class="date">
        {{ displayDate date=beach.createdAt }}
      </div>
    </div>
    <div class="extra content">
          <span class="left floated">
            {{#each tag in restaurant.tags }}
            <a class="ui mini tag label">{{tag}}</a>
            {{/each}}
      </span>
    </div>
    <div class="{{isActiveRoute regex='/^profile/'}}">
      {{#if isNotActivePath regex='item-feed'}}
      <div class="restaurant-bucket-remove">
      <div class="ui blue bottom attached button" data-id="{{ restaurant._id }}">
        <i class="minus icon"></i>
        Remove from Bucket list
      </div>
      </div>
      {{/if}}
      {{#if isActivePath regex='item-feed'}}
      <div class="restaurant-bucket">
        <div class="ui red bottom attached button" data-id="{{ restaurant._id }}">
          {{#if inBucketList item=restaurant._id}}
          <i class="white star icon"></i>
          In your bucket list!
          {{else}}
          <i class="add icon"></i>
          Add to Bucket List
          {{/if}}
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</template>