<template name="Create_Hike_Form">
  <form style="padding-top: 50px" class="ui form create-hike-data">
    <h3 class="ui dividing header">Add Hike</h3>
    <div class="two fields">
      {{> Text_Form_Control label="Title" }}
      {{> Select_Form_Control label="Location" options=locationChoice }}
    </div>
    <div class="field">
      {{> TextArea_Form_Control label="About" }}
    </div>
    <div class="field">
      {{> Select_Form_Control label="Tags" options=hikeTagChoice multiple=true }}
    </div>
    <div class="field">
    </div>
    <button class="ui button" type="submit">Submit</button>
  </form>
</template>