<template name="Create_Restaurant_Form">
  <form class="ui form create-restaurant-data">
    <h3 class="ui dividing header">Add Restaurant</h3>
    <div class="two fields">
      {{> Text_Form_Control label="Title" }}
      {{> Select_Form_Control label="Food" options=foodTypeChoice }}
      {{> Select_Form_Control label="Location" options=locationChoice }}
    </div>
    <div class="field">
      {{> TextArea_Form_Control label="About" }}
    </div>
    {{> Checkbox_Form_Control label="Tags" checkboxes=restaurantTagChoice checked=true}}
    <div class="field"></div>
    <button class="ui button" type="submit">Submit</button>
  </form>
</template>