<template name="Beach_User_Cards">
  <div class="card beach-card">
    <div class="content">
      <div class="extra content">
        <span class="left floated">
      <a class="{{ isActiveRoute 'Beach_Page/:_id'}} item" href=" /beach/{{beach._id}}">
       <h3> {{ beach.title }} </h3>
      </a>
        </span>
        <div class="beach-likes">
          <div data-id="{{ beach._id }}">
        <span class="right floated">
        <a class="ui tiny image">
            <img src={{beach.picture}}>
          </a>
      </span>
          </div>
        </div>
      </div>
      <div class="meta">
        <a>{{ beach.category }}</a>
      </div>
      <div style="font-size: x-small" class="date">
        <!--{{ displayDate date=beach.createdAt }}-->
      </div>
    </div>
    <div class="extra content">
          <span class="left floated">
            Status: {{ beach.status }}
            {{#if status}}
            <i class="green checkmark icon"></i>
            {{else}}
            <i class="red remove icon"></i>
            {{/if}}
      </span>
    </div>
    <div class="ui two buttons" data-id="{{ beach._id }}">
      <div class="ui basic red beach-delete button">Request Delete</div>
      <div class="ui basic green beach-edit button">
        <a href="{{pathFor 'Edit_Beach_Page' _id=beach._id}}">Edit</a>
      </div>
    </div>
  </div>
</template>

<template name="Hike_User_Cards">
  <div class="card hike-card">
    <div class="content">
      <div class="extra content">
        <span class="left floated">
      <a class="{{ isActiveRoute 'Hike_Page/:_id'}} item" href=" /hike/{{hike._id}}">
       <h3> {{ hike.title }} </h3>
      </a>
        </span>
        <div class="hike-likes">
          <div data-id="{{ hike._id }}">
        <span class="right floated">
        <a class="ui tiny image">
            <img src={{hike.picture}}>
          </a>
      </span>
          </div>
        </div>
      </div>
      <div class="meta">
        <a>{{ hike.category }}</a>
      </div>
      <div style="font-size: x-small" class="date">
        <!--{{ displayDate date=hike.createdAt }}-->
      </div>
    </div>
    <div class="extra content">
          <span class="left floated">
            Status: {{ hike.status }}
            {{#if status}}
            <i class="green checkmark icon"></i>
            {{else}}
            <i class="red remove icon"></i>
            {{/if}}
      </span>
    </div>
    <div class="hike-edit">
      <div class="ui two buttons" data-id="{{ hike._id }}">
        <div class="ui basic red hike-delete button">Request Delete</div>
        <div class="ui basic green hike-edit button">
          <a href="{{pathFor 'Edit_Hike_Page' _id=hike._id}}">Edit</a>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="Restaurant_User_Cards">
  <div class="card restaurant-card">
    <div class="content">
      <div class="extra content">
        <span class="left floated">
      <a class="{{ isActiveRoute 'Restaurant_Page/:_id'}} item" href=" /restaurant/{{restaurant._id}}">
       <h3> {{ restaurant.title }} </h3>
      </a>
        </span>
        <div class="restaurant-likes">
          <div data-id="{{ restaurant._id }}">
        <span class="right floated">
          <a class="ui tiny image">
            <img src={{restaurant.picture}}>
          </a>
      </span>
          </div>
        </div>
      </div>
      <div class="meta">
        <a>{{ restaurant.category }}</a>
      </div>
      <div style="font-size: x-small" class="date">
        <!--{{ displayDate date=restaurant.createdAt }}-->
      </div>
    </div>
    <div class="extra content">
          <span class="left floated">
            Status: {{ restaurant.status }}
            {{#if status}}
            <i class="green checkmark icon"></i>
            {{else}}
            <i class="red remove icon"></i>
            {{/if}}
      </span>
    </div>
    <div class="restaurant-edit">
      <div class="ui two buttons" data-id="{{ restaurant._id }}">
        <div class="ui basic red restaurant-delete  button">Request Delete</div>
        <div class="ui basic green restaurant-edit button">
          <a href="{{pathFor 'Edit_Restaurant_Page' _id=restaurant._id}}">Edit</a>
        </div>
      </div>
    </div>
  </div>
</template>